spring:
  main:
    allow-bean-definition-overriding: true
  jpa:
    show-sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: create
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    url: jdbc:postgresql://localhost:5432/app_db
    username: postgres
    password: postgres
server:
  error:
    include-message: always
    include-binding-errors: always
app:
  check-client-api-header: false
  client-api-key: 12345
swagger:
  dev-url: http://localhost:8081
  prod-url: http://localhost:8082
